- var page= {}
- page.title = 'Vue-Material-Prototype'
- page.titleSeparation = ' - ' 

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, minimal-ui")
    link(type="text/css", rel="stylesheet", media="all", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(type="text/css", rel="stylesheet", media="all", href="/styles/ripples.min.css")
    link(type="text/css", rel="stylesheet", media="all", href="/styles/material.min.css")
    link(type="text/css", rel="stylesheet", media="all", href="/styles/view.min.css")
    block css
      //- CSSを追加する用のBlock
    block title
      //- html.title変更用のBlock
      title= page.title
      
  block body
    body#app.app_layout
      block contents
        //- contents
        
      block script
        //- Javascriptを追加・変更する用のBlock
        script(type="text/javascript", src="/scripts/app.js")
